header {
  background-color: #e24647;
}

h1,
a {
  color: #fff;
}

h1 {
  font-size: 40px;
  text-align: left;
  font-family: ArialMT;
}

a,
nav {
  text-decoration: none;
  font-size: 21px;
  text-align: right;
  font-family: SegoeUI;
}
